body {
    font-family: sans-serif;
    text-align: center;
}

.choices {
    width: 800px;
    margin: 20px auto;
}

.choices img {
    width: 100%;
    height: auto;
}

.choice-button {
    background-color: beige;
    border-radius: 15px;
    font-size: 15px;
}

#reset-btn {
    background-color: beige;
    border-radius: 15px;
    font-size: 15px;
    width: 30%;

    display: block;
    margin: 20px auto;
}

.results {
    display: flex;
    flex-direction: column;
}